body {
  background-image: url('../assets/AFD7CB00-6A81-462C-A964-E05445FDC852.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

a {
  color: rgb(247, 243, 45);
  font-family: "cabazon", serif;
  font-size: 1000%;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  user-select: none;
}