body {
	background-color: floralwhite;
}

h1 {
    height: 15vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: rgb(0, 0, 0);
    font-family: "cabazon", serif;
    font-size: 100px;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    user-select: none;
  }

.line-with-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.line {
    width: 87%;
    max-width: 12000px;
    height: 2px;
    background-color: black;
    margin: 0 15px;
}

.line-image {
    width: 50px;
    height: auto;
}

.mirrored {
  transform: scaleX(-1);
}