body {
	background-color: floralwhite;
}

h1 {
    height: 15vh;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: rgb(0, 0, 0);
    font-family: "cabazon", serif;
    font-size: 100px;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    user-select: none;
	margin-bottom: 20px;
  }

.line-with-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.line {
    width: 87%;
    max-width: 12000px;
    height: 2px;
    background-color: black;
    margin: 0 15px;
}

.line-image {
    width: 50px;
    height: auto;
}

.mirrored {
  transform: scaleX(-1);
}

.rounded-square {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    height: 100px;
    background-color: lightgray;
    border-radius: 100px;
    margin-top: 20px;
    overflow: hidden;
}

.content-wrapper {
    position: absolute;
    left: 2%;
    display: flex;
    flex-direction: row;
    align-items: top;
}

.icon-image {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

.app-title {
    color: rgb(100, 100, 100);
    font-family: "cabazon", serif;
    font-size: 40px;
    font-style: normal;
}

.download-button {
    color: rgba(149,149,149,1.00);
	font-family: "basic sans";
    font-size: 16px;
}

